.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-size: 1.5em;
    background: #222;

    .login-logo {
        height: 6em;
        animation: App-logo-spin infinite 20s linear;
    }

    .login-btn {
        width: 3.5em;
        margin-top: 2em;
        border: none;
        border-radius: .2em;
        color: #222;
        font-size: .8em;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}